<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yeet - Get Started</title>
    <link rel="stylesheet" type="text/css" href="/style/global.css" />
    <link rel="stylesheet" type="text/css" href="/style/gs.css" />
    <link rel="stylesheet" href="style/navbar.css" />
    <script src="../scripts/navbar.js"></script>
</head>
<body>
    <div class="MarqueeGlobalDiv">        
        <center><marquee class="MarqueeGlobal" direction="left" >
            <div class="marquee-content">|</div>
            <div class="marquee-content">Yeet Css Framework 1.0 is out! View the <a href="#features">features</a> and <a href="#release">release</a> </div>
            <div class="marquee-content">|</div>
            <div class="marquee-content">Check out the list of <a href="#components">components</a> we offer! </div></a>
            <div class="marquee-content">|</div>
            <div class="marquee-content">Support us on <a href="patreon">patreon</a> 🐱‍👤 </div></a>
            <div class="marquee-content">|</div>
        </marquee></center>
    </div>
    <center>    

    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <hr>
        <a href="/">Introduction</a><hr/>
        <a href="get-started">Get Started</a><hr/>
        <a href="get-started">Components</a><hr/>
        <a href="get-started">Tutorial</a><hr/>
        <a href="get-started">Blogs</a><hr/>
        <a href="versions">Versions</a><hr/>
        <a href="feedback">Feedback</a><hr/>
        </div>
        
        <div id="main">
            <button id="closebtn" class="openbtn" onclick="openNav()">☰</button>          
        </div>  
    </div>
    


    <div class="main-content">            
    
        <div>
            <br><center><h1 id="TitleNavBar">Get Started</h1></center><hr class="HalfHR"><br>            
        </div>        

        <div>
            
        </div>

        <br><p>⚪ Add a single link which includes all components we offer <b>or</b> <a href=".comp-buttons">choose to include only the components you need!</a></p><br>These includes <b>250+</b> UI components (300+ components in beta)<br><br><br> Tip : Add only the components you need for faster page reloads <a href=".comp-buttons">view here</a>.<br><br><br>
        <div>
            <button class="comp-buttons">Normal Link</button>                    
            <button class="comp-buttons">Minified Link</button>                    
            <button class="comp-buttons">Basic Link</button>                    
            <br><br>
        </div>        
        <br><br>
        <input class="CDNLink-group" id="CdnLinkInput" readonly/>
        <button class="CDNLink-group" id="CDNLink-Copy" title="copy cdn link">copy</button>
        <br><br>
    </div>

    <div>
        <br><br><hr class="HalfHR"/><br><p>⚪ Only add components you need - </p><br><br>
        <button class="comp-buttons">Buttons</button>
        <button class="comp-buttons">Navbar</button>
        <button class="comp-buttons">Accordion</button>
        <button class="comp-buttons">Grid</button>
        <button class="comp-buttons">Tables</button>
        <button class="comp-buttons">Navbar</button>
        <button class="comp-buttons">Accordion</button>
        <button class="comp-buttons">Grid</button>
        <button class="comp-buttons">Buttons</button>
        <button class="comp-buttons">Navbar</button>
        <button class="comp-buttons">Accordion</button>
        <button class="comp-buttons">Grid</button>
        <button class="comp-buttons">Buttons</button>
        <button class="comp-buttons">Navbar</button>
        <button class="comp-buttons">Accordion</button>
        <button class="comp-buttons">Grid</button>
        <button class="comp-buttons">Buttons</button>
        <button class="comp-buttons">Navbar</button>
        <button class="comp-buttons">Accordion</button>
        <button class="comp-buttons">Grid</button>
        <button class="comp-buttons">Buttons</button>
        <button class="comp-buttons">Navbar</button>
        <button class="comp-buttons">Accordion</button>
        <button class="comp-buttons">Grid</button>
        <button class="comp-buttons">Buttons</button>
        <button class="comp-buttons">Navbar</button>
        <button class="comp-buttons">Accordion</button>
        <button class="comp-buttons">Grid</button>
        <button class="comp-buttons">Buttons</button>
        <button class="comp-buttons">Navbar</button>
        <button class="comp-buttons">Accordion</button>
        <button class="comp-buttons">Grid</button>
    </div>
    </center>
</body>
</html>