button {  
  border: none;
  color: white;
  padding: 14px 14px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  transition-duration: 0.4s;
}

.btn-primary{
    background-color: #3366CC; 
}

.btn-secondary{
    background-color: #707070; 
}

.btn-light{
    background-color: #989898; 
    border:1px solid gray;
    color:white;
}

.btn-dark{
    background-color: #303030; 
}

.btn-alert{
    background-color: #A00000; 
}

.btn-error{
    background-color: #FFFF66; 
    color:black;
}

.btn-notify{
    background-color: rgb(4, 170, 109);    
}; 



.btn-hvr-primary{
    background-color: #3366CC; 
    color:black;
    box-shadow: 2px solid black;
}

.btn-hvr-secondary{
    background-color: #707070;
    color:white; 
    box-shadow: 2px solid black;
}

.btn-hvr-light{
    background-color: #989898; 
    color:white; 
    box-shadow: 2px solid black;
}

.btn-hvr-dark{
    background-color: #303030; 
    color:white; 
    box-shadow: 2px solid black;
}

.btn-hvr-alert{
    background-color: #A00000; 
    color:white; 
    box-shadow: 2px solid black;
}

.btn-hvr-error{
    background-color: goldenrod; 
    color:white; 
    box-shadow: 2px solid black;
}

.btn-hvr-notify{
    background-color: rgb(4, 170, 109);
    color:white; 
    box-shadow: 2px solid black;
}; 


.btn-unhvr-primary{
    color:#3366CC;
    box-shadow: 2px solid #3366CC;
    border: 2px solid #3366CC;
}

.btn-unhvr-secondary{
    color:#707070;     
    border: 2px solid #707070;
}

.btn-unhvr-light{
    color:#989898;     
    border: 2px solid #989898;
}

.btn-unhvr-dark{  
    color:#303030;     
    border: 2px solid #303030;
}

.btn-unhvr-alert{   
    color:#A00000;     
    border: 2px solid #A00000;
}

.btn-unhvr-error{ 
    color:goldenrod;     
    border: 2px solid goldenrod;
}

.btn-unhvr-notify{
    color:rgb(4, 170, 109);     
    border: 2px solid rgb(4, 170, 109); ;
};




.btn-unhvr-primary:hover{
    background-color: #3366CC;
    color: white; 
    box-shadow: 2px solid black;
}

.btn-unhvr-secondary:hover{
    background-color: #707070;
    color:white; 
    box-shadow: 2px solid black;    
}

.btn-unhvr-light:hover{
    background-color: #989898; 
    color:white; 
    box-shadow: 2px solid black;    
}

.btn-unhvr-dark:hover{
    background-color: #303030; 
    color:white; 
    box-shadow: 2px solid black;    
}

.btn-unhvr-alert:hover{
    background-color: #A00000; 
    color:white; 
    box-shadow: 2px solid black;    
}

.btn-unhvr-error:hover{
    background-color: goldenrod; 
    color:white;
    text-shadow: 4px solid black;    
}

.btn-unhvr-notify:hover{
    background-color: rgb(4, 170, 109);
    color:white; 
    box-shadow: 2px solid black;    
}; 



.btn-hvr-primary:hover{
    color: #3366CC;
    background-color: white; 
    box-shadow: 2px solid black;
    border: 2px solid #3366CC;
}

.btn-hvr-secondary:hover{
    color: #707070;
    background-color:white; 
    box-shadow: 2px solid black;
    border: 2px solid #707070;
}

.btn-hvr-light:hover{
    color: #989898; 
    background-color:white; 
    box-shadow: 2px solid black;
    border: 2px solid #989898;
}

.btn-hvr-dark:hover{
    color: #303030; 
    background-color:white; 
    box-shadow: 2px solid black;
    border: 2px solid #303030;
}

.btn-hvr-alert:hover{
    color: #A00000; 
    background-color:white; 
    box-shadow: 2px solid black;
    border: 2px solid #A00000;
}

.btn-hvr-error:hover{
    color: goldenrod; 
    background-color:white;
    text-shadow: 4px solid black;
    border: 2px solid goldenrod;
}

.btn-hvr-notify:hover{
    color: rgb(4, 170, 109);
    background-color:white; 
    box-shadow: 2px solid black;
    border: 2px solid rgb(4, 170, 109);
}; 

