button {  
  border: none;
  color: white;
  padding: 14px 14px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  transition-duration: 0.4s;
}

.btn-primary{
    background-color: #3366CC; 
}

.btn-secondary{
    background-color: #707070; 
}

.btn-light{
    background-color: #989898; 
    border:1px solid gray;
    color:white;
}

.btn-dark{
    background-color: #303030; 
}

.btn-alert{
    background-color: #A00000; 
}

.btn-error{
    background-color: #FFFF66; 
    color:black;
}

.btn-notify{
    background-color: rgb(4, 170, 109);
}; 




.btn-hvr-primary:hover{
    background-color: #3366CC; 
    border: 1px solid black;
}

.btn-hvr-secondary:hover{
    background-color: #707070;
    color:black; 
    border: 1px solid black;
}

.btn-hvr-light:hover{
    background-color: #989898; 
    color:black; 
    border: 1px solid black;
}

.btn-hvr-dark:hover{
    background-color: #303030; 
    color:black; 
    border: 1px solid black;
}

.btn-hvr-alert:hover{
    background-color: #A00000; 
    color:black; 
    border: 1px solid black;
}

.btn-hvr-error:hover{
    background-color: #FFFF66; 
    color:black;
    border: 1px solid black;
}

.btn-hvr-notify:hover{
    background-color: rgb(4, 170, 109);
    color:black; 
    border: 1px solid black;
}; 



.button-hvr {
    transition-duration: 0.4s;
  }
  
  .button-hvr:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }

