.accordion {
    background-color: #404040;
    color: white;
    text-shadow: 1px 1px black;
    cursor: pointer;
    padding: 8px 8px 8px 32px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 20px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    color:white;
    background-color: gray; 
    text-shadow: 1.5px 1.5px black;
  }
  
  .panel {    
    display: none;
    background-color: white;
    overflow: hidden;
  }

  .accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: gray;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }
  .accord-items{
    background-color:grey;
    border-top: 1px solid #404040;   
  }