@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

.details-accordion div {
	border-left: 2px solid #000;
	border-right: 2px solid #000;
	border-bottom: 2px solid #000;
	padding: 1.5em;
    margin:15px;
    margin-top:0px ;
    margin-bottom:0px ;
}

.details-accordion div > * + * {
	margin-top: 1.5em;
}

.details-accordion + .details-accordion {
	margin-top: .5rem;
}

.summary-accordion {
	list-style: none;
    margin:15px;
    margin-top:0px ;
    margin-bottom:0px ;
}

.summary-accordion::-webkit-details-marker {
	display: none;
}

.summary-accordion {
	border: 2px solid #000;
	padding: .75em 1em;
	cursor: pointer;
	position: relative;
	padding-left: calc(1.75rem + .75rem + .75rem);
}

.summary-accordion:before {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: .75rem;
	content: "↓";
	width: 1.75rem;
	height: 1.75rem;
	background-color: #000;
	color: #FFF;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
}

.details-accordion[open] summary {
	background-color: #eee;
}

.details-accordion[open] summary:before {
	content: "↑";
}

.summary-accordion:hover {
	background-color: #eee;
}

.code-accordion {
	font-family: monospace;
	font-weight: 600;
}

.info-group{        
    background-color: #E7E9EB;
    padding:25px;    
    border-radius:8px;
    margin-bottom:20px;
}

.button {    
    border: none;
    transition-duration: 0.4s;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;  
    border-radius:6px;
}

.button.primary {background-color: #007BFF;} 
.button.secondary {background-color: #6c757d;} 
.button.success {background-color: #1e7e34;}
.button.error{background-color: #ffc107;} 
.button.warning{background-color: #dc3545} 
.button.info{background-color: #17a2b8;} 
.button.light{background-color: white;border: 1px solid #333;color:black;} 
.button.dark{background-color: #343a40;} 

.button.primary.hover:hover{color: #007BFF;background-color: white;border: 1px solid #007BFF;} 
.button.secondary.hover:hover{color: #6c757d;background-color: white;border: 1px solid #6c757d;} 
.button.success.hover:hover{color: #1e7e34;background-color: white;border: 1px solid #1e7e34;}
.button.error.hover:hover{color: #ffc107; color:#ffc107;background-color: white;border: 1px solid #ffc107;} 
.button.warning.hover:hover{color: #dc3545;background-color: white;border: 1px solid #dc3545;} 
.button.info.hover:hover{color: #17a2b8;background-color: white;border: 1px solid #17a2b8;} 
.button.light.hover:hover{color: white;border: 1px solid #333;background-color:#333;} 
.button.dark.hover:hover{color: white;color:#333;background-color: white;border: 1px solid #333;} 

.button.block{width:100%}

.button.primary.xlg{padding:18px 22px;}
.button.primary.lg{padding:16px 20px;}
.button.primary.md{padding:14px 18px;}
.button.primary.sm{padding:12px 16px;}
.button.primary.xsm{padding:10px 14px;}


.button.arrow {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
	display: inline-block;
	border-radius: 4px;
	background-color: #f4511e;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 28px;
	padding: 10px;
	width: 200px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
}
  
.button.arrow span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
  }
  
  .button.arrow span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
  }
  
  .button.arrow:hover span {
	padding-right: 25px;
  }
  
  .button.arrow:hover span:after {
	opacity: 1;
	right: 0;
  }
  